.navigationMenu {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 21px 8px;

  ul {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    list-style-type: none;
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    text-decoration: none;
    color: white;
    padding: 0 12px;
  }

  a:hover {
    text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
  }
}

.logo {
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
